body {
  background: #393e46;
}

.card-box {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-width: 33.3333%;
  width: 80%;
  margin: 0 auto;
}

.card-box__item {
  margin: 20px 0
}

.thumb {
  position: relative;
}

.thumb:hover .overlay {
  opacity: 1;
}

.card-box__img {
  width: 100%;
  vertical-align: bottom;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  opacity: 0;
  transition: opacity .5s ease-in;
}

.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-normal {
  color: white;
  font-size: 2.5em;
  text-align: center;
  line-height: 1.3em;
  letter-spacing: -.03em;
}
