:root {
  --white: #fff;
  --accent: #2B46B4;
  --black: #222;
}

body {
  background: #F4EEFF;
  font-family: 'NanumSquare', sans-serif !important;
  overflow: hidden;
  position: relative;
  transition: background .35s;
}

/*
.top-line {
  width: 100vw;
  height: 40px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.left-line {
  width: 40px;
  height: 100vh;
  background: #fff;
  position: fixed;
  left: 0;
}

.right-line {
  width: 40px;
  height: 100vh;
  background: #fff;
  position: fixed;
  right: 0;
}

.bottom-line {
  width: 100vw;
  height: 40px;
  background: #fff;
  position: fixed;
  bottom: 0;
}
*/

.main {
  width: 85%;
  height: 100vh;
  padding: 40px 0;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.section {
  display: inline-block;
  margin-top: 8.5em;
}

.section_info {
  width: 40%;
  margin-right: 50px;
}

.section_info__header {
  font-size: 36px;
  font-weit: 300;
  line-height: 50px;
}

.section_info__header--welcome {
  font-size: 48px;
}

.section_info__body {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 48px 0 85px;
}

.btn-list {
  text-align: right;
}

.btn-list__item {
  position: relative;
  display: block;
  width: 236px;
  height: 60px;
  text-align: left;
  font-size: 20px;
  line-height: 57px;
  background: var(--black);
  color: var(--white);
}

.btn-list__item:first-child {
  margin-bottom: 30px;
}

.btn-list__item a {
  display: block;
  padding-left: 20px;
}

.btn-arrows {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-57%);
}

.section_work {
  width: 52.9%;
  float: right;
  position: relative;
}

.more-btn {
  text-align: right;
  position: absolute;
  top: -4%;
  right: 0;
  font-size: 18px;
  font-weight: 700;
}

.more-btn:after {
  content: '';
  display: block;
  width: 0;
  height: 10px;
  background: #FF00B8;
  position: absolute;
  bottom: 0;
  z-index: -1;
  transition: all .35s;
}

.more-btn.on:after {
  width: 100%;
}

.work-grid {
  display: inline-grid;
  grid-template-columns: 27fr 27fr 46fr;
  grid-template-rows: repeat(2, 302px);
  grid-gap: 15px;
}

.work-grid__item__effect {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.work-grid__item__effect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.work-grid__item__effect__img {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.9;
}
.work-grid__item__effect__text {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
.work-grid__item__effect__text__inner {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.work-grid__item__effect__text__inner__title {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}

.work-grid__item__effect__text__inner__title:before,
.work-grid__item__effect__text__inner__title:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
.work-grid__item__effect__text__inner__title:before {
  left: -1000%;
}
.work-grid__item__effect__text__inner__title:after {
  right: -1000%;
}
.work-grid__item__effect__text__des {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
.work-grid__item__effect a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.work-grid__item:hover .work-grid__item__effect__img,
.work-grid__item.hover .work-grid__item__effect__img  {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.work-grid__item:hover .work-grid__item__effect__text,
.work-grid__item.hover .work-grid__item__effect__text {
  top: 7%;
  bottom: 7%;
}
.work-grid__item:hover .work-grid__item__effect__text__des,
.work-grid__item.hover .work-grid__item__effect__text__des {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.work-grid__item-01 {  
  grid-column: 1/3;
  grid-row: 1/2;
}

.work-grid__item-02 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.work-grid__item-03 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.work-grid__item-04 {
  display: none;
  grid-column: 4/5;
  grid-row: 1/3;
}

.grid-slide {
  width: 100%;
}

.slide-con {
  margin-top: 1em;
}

.slide-con__ind,
.slide-con__btn {
  display: inline-block;
}

.slide-con__ind {
  float: left;
}

.slide-ind {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .5em;
}

.slide-con__btn {
  float: right;
}

.slide-btn {
  padding: .8em;
  position: relative;
}

.slide-btn.on {
  color: #666;
}

.slide-btn-icon {
  font-size: 1.3em;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: -160px;
  transition: bottom .5s ease-in;
}

.footer.on {
  bottom: 0;
}

.footer__btn {
  background: var(--black);
  color: var(--white);
  width: 100px;
  height: 100px;
  transform: translateX(-50%);
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  line-height: 3.5em;
  position: absolute;
  left: 50%;
  top: -25%;
  transform: translateX(-50%);
}

.footer__btn__icon {
  
}

.footer__nav {
  background: var(--black);
  position: relative;
  width: 100%;
  height: 160px;
  z-index: 1;
  overflow: hidden;
}

.footer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: no-gravity 10s infinite;
}

.footer__content__def {
  color: var(--white);
  font-size: 24px;
  text-align: center;
}

.footer__content__def__term:nth-child(1) {
  transform: rotate(-23deg);
}

.footer__content__def__des:nth-child(2) {
  transform: rotate(18deg);
}

.footer__content__def__term:nth-child(3) {
  transform: rotate(13deg);
}

.footer__content__def__des:nth-child(4) {
  transform: rotate(-17deg);
}

.footer__content__def__term:nth-child(5) {
  transform: rotate(-7deg);
}

.footer__content__def__des:nth-child(6) {
  transform: rotate(-17deg);
}

.footer__content__def__term, .footer__content__def__des {
  float: left;
}

.footer__content__def__term {
  margin-right: 10px;
}

.footer__content__def__des {
  margin-right: 30px;
}

.contact-modal {
	position: fixed;
	top: 25%;
	left: 25%;
	right: 25%;
  display: none;
}

.contact-modal.on {
  display: block;
}

.contact-modal__close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2em;
}

.contact-modal__content {
  background: var(--white);
  padding: 5%;
  border-radius: 10px;
}

.form-element {

}

.honeypot-field {
	display: none;
}

.contact-modal__text, .contact-modal__input {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 10px 0;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button-success {
  display: block;
  cursor: pointer;
  width: 260px;
  height: 65px;
  margin: 10px auto 0;
  border: none;
  outline: none;
  background: #511252;
  color: var(--white);
  font-size: 24px;
}

.contact-modal__layer {
	position: fixed;
	background: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

/* 미디어 쿼리 */

@media all and (max-width: 1750px) {
/*
  .work-grid {
    grid-template-columns: 200px 200px 300px;
  }
*/
}

@media all and (max-width: 1530px) {
  body {
    overflow: auto;
  }
  
  .section {
    display: block;
  }
  
  .main {
    height: auto;
  }
  
  .section_info {
    width : 90%;
    margin: 0 auto;
  }
  
  .section_work {
    width: 90%;
    float: none;
    margin: 100px auto 0;
  }
  
  .work-grid {
    grid-template-columns: 20fr 20fr 30fr 30fr;
  }
  
  .work-grid__item-04 {
    display: block;
  }
  
  .work-grid__text__title {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 768px) {
  .main {
    width: 100vw;
  }
  
  .section {
    width: 70%;
  }
  
  .section_info {
    margin: 0 auto;
  }
  
  .btn-list {
    text-align: center;
  }
  
  .btn-list__item {
    display: inline-block;
  }
  
  .btn-list__item:first-child {
    margin-right: 20px;
  }
  
  .grid-slide {
    width: 530px;
  }
}


/* 키프레임 */

@keyframes no-gravity {
  0% {
    top: 30%;
  }
  
  50% {
    top: 70%;
  }
  
  100% {
    top: 30%;
  }
}