$n-red: #E60012;
$n-orange: #FE7C0A;

.header {
  width: 100%;
  position: relative;
  border: {
    bottom: 1px solid #D9D9D9;
  }
  z-index: 1;
  &__logo {
    width: 15%;
    background: {
      color: $n-red;
    }
    a {
      display: block;
      height: 74px;
      background: url("../img/logo_nintendo_red.gif") no-repeat center center;  
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    left: 15%;
    width: calc(85% - (140px + 74px)) ;
    z-index: 2;
    &__container {
      &__item {
        display: inline-block;
        position: relative;
        width: 20%;
        height: 74px;
        line-height: 74px;
        border: {
          right: 1px solid #D9D9D9;
        }
        margin: {
          right: -6px;
        }
        text-align: center;
        font: {
          size: .95rem;
        }
        a {
          display: block;
          &:hover {
            color: $n-red;
          }
        }
        &__list {
          position: absolute;
          width: 100%;
          background: #F7F7F7;
          text-align: left;
          padding: 20px 30px;
          border: 1px solid #D9D9D9;
          display: none;
          &__item {
            line-height: 50px;
            font: {
              size: .9rem;
            }
            a {
              display: inline;
              &:hover {
                color: $n-red;
              }
            }
          }
        }
      }
    }
  }
  &__shop {
    background: url(../img/btn_head_eshop.gif) no-repeat center center;
    background-color: $n-orange;
    display: block;
    width: 140px;
    height: 76px;
    position: absolute;
    top: -1px;
    right: 76px;
  }
  &__search {
    width: 74px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    &:after {
      background: url(../img/search.png) no-repeat left top;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 27px;
      width: 27px;
    }
    &__div {
      width: 100%;
      height: 150px;
      position: absolute;
      top: 75px;
      left: 0;
      background: #F7F7F7;
      text-align: center;
      padding: 30px 0;
      border: 1px solid #D9D9D9;
      display: none;
      &__form {
        height: 45px;
        width: 62.5%;
        margin: 0 auto 30px;
      }
      &__box {
        display: inline-block;
        width: calc(100% - 98px);
        height: 45px;
        box-sizing: border-box;
        padding-left: 15px;
        float: left;
      }
      &__btn {
        display: inline-block;
        width: 98px;
        height: 45px;
        float: left;
        outline: none;
        background: $n-red;
        border: none;
        color: #fff;
      }
      &__close {
        &:before {
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          vertical-align: bottom;
          margin-right: 10px;
          background: url(../img/ico_close_searchBox.gif) no-repeat center center;
        }
      }
    }
  }
}

.section--slide {
  width: 100%;
  &__item {
    a {
      display: block;
      
    }
    &__img {
      width: 100%;
    }
  }
  &__info {
    text-align: center;
    letter-spacing: .5em;
    margin: {
      top: 15px;
    }
    &__btn {
      display: inline-block;
      font: {
        size: 3rem;
      }
    }
    &__index {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: bottom;
      font: {
        size: 2rem;
        weight: 600;
      }
    }
  }
}

.section--news {
  width: 1200px;
  margin: 70px auto 0;
  &__title {
    font: {
      size: 2rem;
      weight: 600;
    }
    letter-spacing: -.08rem;
		margin: {
			bottom: 40px;
		}
    &__sub-title {
      font: {
        size: 1rem;
        weight: 200;
      }
    }
  }
  &__list {
    position: relative;
    &__item {
			display: inline-block;
      width: calc((100% - (32px * 3) )/ 4);
			margin: {
				right: 27px;
				bottom: 40px;
			}
			&:nth-child(4n) {
				margin: 0;
			}
      &__header {
        overflow: hidden;
        margin: {
	  		  bottom: 15px;
  		  }
				a {
					display: block;
          transition: all .5s;
          &:hover {
            opacity: .8;
            transform: scale(1.05);
          }
				}
        &__img {
					width: 100%;
					vertical-align: bottom;
        }
      }
			&__category {
        font: {
          size: .8rem;
        }
				color: $n-red;
		  }
			&__title {
				font: {
					size: 1.2rem;
					weight: 600;
				}
				display: block;
				height: 72px;
				letter-spacing: -.05rem;
				line-height: 1.5rem;
				margin: 7px 0;
			}
			&__footer {
				font: {
					size: .8rem;
				}
				color: #888;
				line-height: 1.3rem;
			}
    }
    &__btn--more {
      position: absolute;
      top: -4.5rem;
      right: 0;
      color: $n-red;
      font: {
        size: 1.5rem;
      }
    }
  }
  margin: {
    bottom: 85px;
  }
}

.section--banner--shop {
  width: 100%;
  margin: {
    bottom: 85px;
  }
  background: {
    color: $n-orange;
  }
  &__title {
    text-indent: -9999px;
    line-height: 140px;
    background: url(../img/main_banner_eshop.gif) no-repeat center center;
  }
}

.section--games {
  width: 1200px;
  margin: 70px auto 0;
  &__title {
    font: {
      size: 2rem;
      weight: 600;
    }
    letter-spacing: -.08rem;
		margin: {
			bottom: 40px;
		}
    &__sub-title {
      font: {
        size: 1rem;
        weight: 200;
      }
    }
  }
  &__list {
    position: relative;
    &__item {
			display: inline-block;
      width: calc((100% - (32px * 3) )/ 4);
			margin: {
				right: 27px;
				bottom: 40px;
			}
			&:nth-child(4n) {
				margin: 0;
			}
      &__header {
        margin: {
          bottom: 15px;
        }
        overflow: hidden;
				a {
					display: block;
          transition: all .5s;
          &:hover {
            opacity: .8;
            transform: scale(1.05);
          }
				}
        &__img {
					width: 100%;
					vertical-align: bottom;
        }
      }
      &__category {
        font: {
          size: .8rem;
        }
        color: $n-red;
        display: inline-block;
      }
      &__type {
        float: right;
        &__item {
          display: inline-block;
          width: 24px;
          height: 16px;
          background: {
            color: $n-red;
          }
          color: #fff;
          font: {
            size: .75rem;
            weight: 600;
          }
          text-align: center;
          line-height: 16px;
          border: {
            radius: 4px;
          }
        }
      }
			&__title {
				font: {
					size: 1.2rem;
					weight: 600;
				}
				display: block;
				height: 48px;
				letter-spacing: -.05rem;
				line-height: 1.5rem;
				margin: 7px 0;
			}
			&__footer {
        &__release {
          display: inline-block;
          font: {
					 size: .8rem;
          }
          color: #888;
          line-height: 1.3rem;
        }
        &__ico {
          float: right;
          background: url(../img/ico_lang_foreign_s.png) no-repeat left -116px;
          width: 60px;
          height: 38px;
        }
			}
    }
    &__btn--more {
      position: absolute;
      top: -4.5rem;
      right: 0;
      color: $n-red;
      font: {
        size: 1.5rem;
      }
    }
  }
  margin: {
    bottom: 85px;
  }
}

.section--teaser {
  width: 1200px;
  margin: 0 auto 80px;
  &__item {
    height: 140px;
    width: calc((100% - 64px) / 3);
    display: inline-block;
    margin-right: 27px;
    &:last-child {
      margin: 0;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &__img {
      width: 100%;
    }
  }
}

.section--eshop {
  width: 1200px;
  margin: 0 auto 50px;
  text-align: left;
  &__title {
    text-align: center;
    font: {
      size: 1.5rem;
      weight: 600;
    }
    margin: {
      bottom: 30px;
    }
  }
  &__list {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &__item {
      width: 33.333333%;
      height: 120px;
      border: 1px solid #ccc;
      border: {
        bottom: 1px solid #000;
      }
      background: url(../img/unit_icon.png) no-repeat 17.55% 0;
      display: table;
      float: left;
      &:nth-child(2) {
        background-position-y: -119px;
        border: {
          left: none;
        }
      }
      &:nth-child(3) {
        background-position-y: -238px;
        border: {
          left: none;
        }
      }
      a {
        display: table-cell;
        vertical-align: middle;
        padding: {
          left: 140px;
        }
      }
      &__dsc {
        background: url(../img/banner_arrow.png) no-repeat center right;
        padding: {
          right: 16px;
        }
      }
    }
  }
}

.section--notice {
  width: 1200px;
  margin: 0 auto 100px;
  border: 1px solid #ccc;
  border: {
    left: none;
    right: none;
  }
  padding: 22px 0;
  &__header {
    display: inline-block;
    margin: {
      right: 105px;
    }
    &__title {
      display: inline-block;
    }
    &__btn--more {
      background: url(../img/icon_plus.png) no-repeat center center;
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
      box-sizing: content-box;
      vertical-align: middle;
    }
  }
  &__list {
    display: inline-block;
    &__item {
      display: inline-block;
      margin: {
        left: 1em;
      }

      &__title {
        color: #666;
        &:before {
          content: "\2022";
          color: $n-red;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin: {
            left: -1em;
          }
        }
      }
    }
  }
}

.section--go-top {
  width: 100%;
  height: 100px;
  background: $n-red;
  &__inner {
    width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
    &__title {
      background: url(../img/top.png) no-repeat top left;
      display: inline-block;
      width: 122px;
      height: 30px;
      float: left;
    }
    &__btn {
      background: url(../img/btn_switch_main_gotoTop.png) no-repeat center center;
      position: relative;
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-radius: 12px;
      padding: 5px;
      box-sizing: content-box;
      float: right;
      transition: .1s ease-in;
      &:before {
        content: 'TOP';
        display: none;
        color: $n-red;
        line-height: 12px;
        margin-left: 5px;
        float: left;
        font: {
          size: .8rem;
          weight: 900;
        }
      }
      &:after {
        content: '';
        display: none;
        width: 12px;
        height: 12px;
        float: right;
        background: url(../img/btn_switch_main_gotoTop_over.png) no-repeat center center;
      }
      &:hover {
        width: 60px;
        background: #fff;
        &:after {
          display: inline-block;
        }
        &:before {
          display: inline-block;
        }
      }
    }
  }
}

.section--bottom {
  padding: 40px 0;
  text-align: center;
  &__header {
    display: inline-block;
    margin: 0 auto 60px;
    &__sns-list {
      display: inline-block;
      margin: {
        right: 45px;
      }
      &__item {
        display: inline-block;
        margin: {
          right: 24px;
        }
        a {
          background: url(../img/bottom.png) no-repeat;
          display: block;
          width: 60px;
          height: 60px;
        }
        &:nth-child(1) {
          a {
            background: {
              position: left -160px;
            }
          }
        }
        &:nth-child(2) {
          a {
            background: {
              position: -70px -160px;
            }
          }
        }
        &:nth-child(3) {
          margin: 0;
          a {
            background: {
              position: -140px -160px;
            }
          }
        }
      }
    }
    &__btn-list {
      display: inline-block;
      &__nintendo {
        background: url(../img/bottom.png) no-repeat top left;
        display: inline-block;
        width: 370px;
        height: 60px;
        margin: {
          right: 25px;
        }
      }
      &__amiibo {
        background: url(../img/btn_footer_amiibo.png) no-repeat top left;
        display: inline-block;
        width: 370px;
        height: 60px;
      }
    }
  }
  &__footer {
    &__list {
      &__item {
        display: inline-block;
        vertical-align: top;
        margin: {
          right: 130px;
        }
        &:last-child {
          margin: 0;
        }
        &__title {
          font: {
            weight: 600;
          }
          margin: {
            bottom: 20px;
          }
          position: relative;
          &:before {
            content: '';
            display: block;
            width: 18px;
            height: 3px;
            background: $n-red;
            position: absolute;
            top: -13px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &__sub-list {
          color: #737373;
          &__item {
            margin: {
              bottom: 10px;
            }
            &:before {
              content: '-';
              display: inline-block;
            }
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.footer {
  background: #F5F5F5;
  color: #737373;
  font: {
    size: .9rem;
  }
  letter-spacing: -.1rem;
  &__inner {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    &__term {
      display: inline-block;
      &__btn {
        &--use {
          margin: {
            right: 10px;
          }
          &:after {
            content: '|';
            display: inline-block;
            margin: {
              left: 20px;
            }
          }
        }
      }
    }
    &__sup {
      float: right;
      text-align: right;
    }
    &__add {
      line-height: 1.5rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__logo {
      width: calc(100% - 60px);
      height: 61px;
      text-align: left;
      line-height: 70px;
      padding-left: 20px;
      a {
        background: url(../img/logo_nintendo_red_m.gif) no-repeat center center;
        background-size: cover;
        width: 104px;
        height: 25px;
        display: inline-block;
      }
    }
    &__gnb {
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      top: 50%;
      right: 65px;
      transform: translateY(-50%);
      &.on {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 56px;
          background: url(../img/btn_gnb_m.png) no-repeat left -31px;
          background-size: 31px 62px;
          width: 28px;
          height: 28px;
          transform: translateY(-50%);
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 56px;
        background: url(../img/btn_gnb_m.png) no-repeat left top;
        background-size: 31px 62px;
        width: 28px;
        height: 28px;
        transform: translateY(-50%);
      }
    }
    &__shop {
      background-position: left -5px;
      width: 60px;
      height: 62px;
      right: 0;
    }
    &__search {
      width: 56px;
      right: 70px;
      &:after {
        background-position: left -15px;
        background-size: 32px 48px;
        width: 28px;
        height: 28px;
        left: 65%;
      }
    }
    &__nav {
      width: 100%;
      top: 60px;
      left: 0;
      background: #fff;
      &__container {
        &__item {
          width: 100%;
          height: auto;
          text-align: left;
          font: {
            size: 1rem;
            weight: 600;
          }
					border-right: none;
					line-height: 50px;
					margin-bottom: -1px;
					a {
						outline: none;
						background: #fff;
						border: {
							top: 1px solid #D6D6D6;
							bottom: 1px solid #D6D6D6;
						}
						font: {
							size: 1.1rem;
							weight: 600;
						}
						color: #000;
					}
          &__list {
            position: relative;
						background: #F7F7F7;
						border-bottom: 1px solid #D6D6D6;
            &__item {
							line-height: 2.2rem;
							a {
								border: none;
								background: #F7F7F7;
								font: {
									size: 1rem;
									weight: 300;
								}
							}
            }
          }
        }
      }
    }
    &__search {
      &__div {
        top: 60px;
        &__form {
          width: 95%;
        }
      }
    }
  }
  
  .section--news {
    width: 100%;
    padding: 0 20px;
    &__list {
      &__item {
        &__title {
          font: {
            size: .9rem;
          }
          line-height: normal;
        }
      }
    }
  }
  
  .section--games {
    width: 100%;
    padding: 0 20px;
    &__list {
      &__item {
        &__title {
          font: {
            size: .9rem;
          }
          height: 3rem;
        }
      }
    }
  }
  
  .section--teaser {
    width: 100%;
    padding: 0 20px;
  }
  
  .section--eshop {
    width: 100%;
    padding: 0 20px;
    &__list {
      border: 1px solid #ccc;
      &__item {
        width: 100%;
        height: 74px;
        background-size: 48px;
        background-position: 5% -12px;
        border: {
          top: none;
          left: none;
          right: none;
        }
        &:nth-child(2) {
          background-position: 5% -106px;
        }
        &:nth-child(3) {
          background-position: 5% -200px;
          margin-bottom: -1px;
        }
      }
    }
  }
  
  .section--notice {
    width: calc(100% - 40px);
    margin: 0 20px 100px;
    &__header {
      margin-right: 4%;
    }
  }
  
  .section--go-top {
    height: 47px;
    &__inner {
      width: 100%;
      padding: 12px;
      text-align: center;
      &__title {
        float: none;
        background-position: left top;
        background-size: 150px 63px;
        width: 97px;
        height: 23px;
      }
      &__btn {
        position: absolute;
        right: 10px;
      }
    }
  }
  
  .section--bottom {
    &__header {
      &__sns-list {
        margin-bottom: 30px;
      }
    }
    &__footer {
      &__list {
        font: {
          size: .7rem;
        }
        &__item {
          margin-right: 10%;
        }
      }
    }
  }
  
  .footer {
    &__inner {
      width: 100%;
      padding: 30px 20px;
      &__sup {
        float: none;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .section--news {
    &__list {
      &__item {
        &:nth-child(n+5) {
          display: none;
        }
      }
    }
  }
}